$color-primary: #43a3ce
$color-primary-hover: mix(black,$color-primary,10%)
$color-primary-active: mix(black,$color-primary,20%)

$color-background: white
$color-light-background: #f6f7fb
$color-layout-border: #00000011

$shadow: 0 2px 0.25rem #00000011

$color-text: #333
$color-text-unactive: #888

$color-graphic-unactive: #aaa